*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial;
}

#container{
    width: 100%;
}

/*top */
#top{
    height: 50px;
    background-color: #86328C;
    margin-bottom: 20px;
}

/*header */
header{
    width: 100%;
    height: 200px;
    background-color: #86328C;
    margin-bottom: 20px;
}

/*main */
#main{
    height: 180px;
}

.col{
    width: 30%;
    float:left;
    margin-left: 10px;
    padding-left: 20px;
}

.img{
    width: 100%;
    height: 70px;
    background-color: #0083CA;
    margin: 0 auto;
}

.col p{
    padding-top: 10px;
    text-align: justify;
}
@media ( max-width: 900px) {
    #main{
        height: auto;
    }
    
    .col {
        width: 100%;
        float: none;
        margin:0;
        padding-left:0;
    }
}

/*footer */
footer{
    margin-top:20px;
    clear: both;
}
footer article{
    width: 100%;
    height: 100px;
    background-color: #ED1164;
}